## Part 1: Obtaining & Scrubbing Data
Go Back | Go Forward

### Table of Contents
#### 1. Obtaining Data   
    I. Yelp   
    II. NYC Open Data   
 
 
#### 2. Scrubbing Data    
    I.    
    II.

### 1. Obtaining Data
#### I. Yelp
First I'm going to use the Yelp API to scrape the business information for restraurants in Manhattan. I'm going to ask Yelp to return 500 results per neighborhood. I got my list of neighborhoods from https://data.beta.nyc/dataset/pediacities-nyc-neighborhoods.

In [1]:
import numpy as np
import pandas as pd

I wrote some general functions to use with the Yelp API that can be viewed in [project_functions2]. The code below is iterating through the list of neighborhoods. For each neighborhood, pf.get_businesses() is executed to return a JSON object with the Yelp Business Search data. The data is then transformed into a pandas data frame. Next, pf.clean_yelp_df() is performing a number of operations to unpack the data from the JSON format. The modified data frame is concatenated to the newly established main data frame, yelp_data, and saved in a CSV file under the name of the neighborhood. Finally, yelp_data is also saved to a CSV.

In [5]:
nyc_zips = pd.read_csv('nyc_zips.csv')

neighborhoods = []

import project_functions2 as pf
api_key = []

yelp_data = pd.DataFrame()
for neighborhood in neighborhoods:
    yelp = pf.get_businesses(neighborhood, 'Restaurant', api_key)
    yelp_df = pd.DataFrame(yelp)
    yelp_df = pf.clean_yelp_df(yelp_df)
    yelp_data = pd.concat([yelp_data, yelp_df])
    name = 'yelp_df_' + neighborhood + '.csv'
    yelp_df.to_csv(name)
    
yelp_data.to_csv('yelp_data_master.csv')

#### II. NYC Open Data

In [6]:
import project_functions2 as pf

In [7]:
df = pd.read_csv('yelp_data_master.csv')

I want to add some additional information to the features, and the nyc_zips dataframe I read in earlier can be applied to add features like, the name of the neighborhood, the borough, population by zip code and population density by zipcode. I'm going to make a dictionary for each of these features and use .map to apply the values using zip code.

In [8]:
nyc_neighborhood_zips = nyc_zips.set_index('zip').neighborhood.to_dict()
nyc_boro_by_zip = nyc_zips.set_index('zip').borough.to_dict()
pop_by_neighborhood = nyc_zips.set_index('zip').population.to_dict()
density_by_neighborhood = nyc_zips.set_index('zip').density.to_dict()

df['neighborhood_by_zip'] = df.zip_code.map(nyc_neighborhood_zips)
df['boro'] = df.zip_code.map(nyc_boro_by_zip)
df['pop_by_zip'] = df.zip_code.map(pop_by_neighborhood)
df['density_by_zip'] = df.zip_code.map(density_by_neighborhood)

I'm going to use the Restaurant Inspection Data CSV because it has a zip code column and an NTA column. I can use this to create another dictionary and also add NTA as feature.

In [9]:
nyc_open_df = pd.read_csv('data/NYC_OpenData.csv')
nyc_open_df = nyc_open_df.dropna()
nyc_open_df = nyc_open_df[nyc_open_df.BORO == 'Manhattan']
nyc_open_df['ZIPCODE'] = nyc_open_df.ZIPCODE.drop_duplicates()
nyc_open_df['ZIPCODE'] = nyc_open_df.ZIPCODE.astype(int).astype(str)
df['zip_code'] = df.zip_code.astype(str)
nyc_zips_by_nta = nyc_open_df.set_index('ZIPCODE').NTA.to_dict()
df['NTA'] = df.zip_code.astype(str).map(nyc_zips_by_nta)

In [10]:
len(df.columns)

484

Since I have so many columns, I want to take a look at what they actually are before deciding if I should keep them. The reason there are so many is becuase for each of the 3000+ restaurants on our list, each of them can have up to three categories. The way that I unpacked and encoded them, created a column for each one, even if there was only 1 instance, or ultimately zero instances if that observation was eliminated in some kind of way. So I'm going to examine the columns and their value counts and keep only the ones with 10+ observations.

In [11]:
list(df.columns)

['review_count',
 'distance',
 'airportlounges_cat_1',
 'australian_cat_1',
 'austrian_cat_1',
 'bagels_cat_1',
 'bakeries_cat_1',
 'bars_cat_1',
 'beerbar_cat_1',
 'belgian_cat_1',
 'boating_cat_1',
 'brasseries_cat_1',
 'brazilian_cat_1',
 'breakfast_brunch_cat_1',
 'british_cat_1',
 'burgers_cat_1',
 'cafes_cat_1',
 'cajun_cat_1',
 'caribbean_cat_1',
 'catering_cat_1',
 'chinese_cat_1',
 'cocktailbars_cat_1',
 'coffee_cat_1',
 'coffeeroasteries_cat_1',
 'comedyclubs_cat_1',
 'comfortfood_cat_1',
 'creperies_cat_1',
 'cuban_cat_1',
 'delis_cat_1',
 'desserts_cat_1',
 'diners_cat_1',
 'donuts_cat_1',
 'filipino_cat_1',
 'food_court_cat_1',
 'french_cat_1',
 'gastropubs_cat_1',
 'georgian_cat_1',
 'german_cat_1',
 'gourmet_cat_1',
 'greek_cat_1',
 'grocery_cat_1',
 'himalayan_cat_1',
 'hotels_cat_1',
 'hungarian_cat_1',
 'irish_cat_1',
 'irish_pubs_cat_1',
 'italian_cat_1',
 'japanese_cat_1',
 'juicebars_cat_1',
 'korean_cat_1',
 'latin_cat_1',
 'lounges_cat_1',
 'meats_cat_1',
 'mediterranean_cat_1',
 'mexican_cat_1',
 'mideastern_cat_1',
 'modern_european_cat_1',
 'moroccan_cat_1',
 'musicvenues_cat_1',
 'newamerican_cat_1',
 'newmexican_cat_1',
 'pizza_cat_1',
 'pubs_cat_1',
 'salad_cat_1',
 'sandwiches_cat_1',
 'scandinavian_cat_1',
 'seafood_cat_1',
 'soulfood_cat_1',
 'southern_cat_1',
 'spanish_cat_1',
 'sportsbars_cat_1',
 'steak_cat_1',
 'tacos_cat_1',
 'taiwanese_cat_1',
 'tapas_cat_1',
 'tapasmallplates_cat_1',
 'tea_cat_1',
 'thai_cat_1',
 'tradamerican_cat_1',
 'vegan_cat_1',
 'vegetarian_cat_1',
 'venues_cat_1',
 'vietnamese_cat_1',
 'waffles_cat_1',
 'whiskeybars_cat_1',
 'wine_bars_cat_1',
 'apartments_cat_2',
 'asianfusion_cat_2',
 'australian_cat_2',
 'austrian_cat_2',
 'bagels_cat_2',
 'bakeries_cat_2',
 'bars_cat_2',
 'bbq_cat_2',
 'beerbar_cat_2',
 'beergardens_cat_2',
 'belgian_cat_2',
 'brasseries_cat_2',
 'brazilian_cat_2',
 'breakfast_brunch_cat_2',
 'burgers_cat_2',
 'butcher_cat_2',
 'cafes_cat_2',
 'cajun_cat_2',
 'cheese_cat_2',
 'chinese_cat_2',
 'cocktailbars_cat_2',
 'coffee_cat_2',
 'comfortfood_cat_2',
 'delis_cat_2',
 'desserts_cat_2',
 'dimsum_cat_2',
 'diners_cat_2',
 'donuts_cat_2',
 'filipino_cat_2',
 'fondue_cat_2',
 'fooddeliveryservices_cat_2',
 'foodtrucks_cat_2',
 'french_cat_2',
 'gastropubs_cat_2',
 'german_cat_2',
 'gluten_free_cat_2',
 'gourmet_cat_2',
 'greek_cat_2',
 'hawaiian_cat_2',
 'honey_cat_2',
 'hotdogs_cat_2',
 'icecream_cat_2',
 'irish_cat_2',
 'italian_cat_2',
 'japanese_cat_2',
 'jazzandblues_cat_2',
 'juicebars_cat_2',
 'kosher_cat_2',
 'latin_cat_2',
 'lounges_cat_2',
 'markets_cat_2',
 'mediterranean_cat_2',
 'mexican_cat_2',
 'mideastern_cat_2',
 'modern_european_cat_2',
 'moroccan_cat_2',
 'musicvenues_cat_2',
 'newamerican_cat_2',
 'newmexican_cat_2',
 'pancakes_cat_2',
 'pastashops_cat_2',
 'pizza_cat_2',
 'polish_cat_2',
 'popuprestaurants_cat_2',
 'portuguese_cat_2',
 'pubs_cat_2',
 'russian_cat_2',
 'salad_cat_2',
 'sandwiches_cat_2',
 'seafood_cat_2',
 'senegalese_cat_2',
 'smokehouse_cat_2',
 'soulfood_cat_2',
 'southern_cat_2',
 'spanish_cat_2',
 'sushi_cat_2',
 'tacos_cat_2',
 'tapas_cat_2',
 'tapasmallplates_cat_2',
 'tea_cat_2',
 'tex-mex_cat_2',
 'thai_cat_2',
 'theater_cat_2',
 'themedcafes_cat_2',
 'tradamerican_cat_2',
 'turkish_cat_2',
 'tuscan_cat_2',
 'ukrainian_cat_2',
 'vegan_cat_2',
 'vegetarian_cat_2',
 'venues_cat_2',
 'waffles_cat_2',
 'whiskeybars_cat_2',
 'wine_bars_cat_2',
 'asianfusion_cat_3',
 'australian_cat_3',
 'austrian_cat_3',
 'bagels_cat_3',
 'bakeries_cat_3',
 'bars_cat_3',
 'bbq_cat_3',
 'beer_and_wine_cat_3',
 'beerbar_cat_3',
 'beergardens_cat_3',
 'brasseries_cat_3',
 'breakfast_brunch_cat_3',
 'british_cat_3',
 'buffets_cat_3',
 'burgers_cat_3',
 'cafes_cat_3',
 'cafeteria_cat_3',
 'cantonese_cat_3',
 'chicken_wings_cat_3',
 'cocktailbars_cat_3',
 'coffee_cat_3',
 'coffeeroasteries_cat_3',
 'comfortfood_cat_3',
 'creperies_cat_3',
 'cupcakes_cat_3',
 'danceclubs_cat_3',
 'delis_cat_3',
 'desserts_cat_3',
 'diners_cat_3',
 'dinnertheater_cat_3',
 'dominican_cat_3',
 'donuts_cat_3',
 'foodstands_cat_3',
 'french_cat_3',
 'gastropubs_cat_3',
 'gelato_cat_3',
 'georgian_cat_3',
 'gluten_free_cat_3',
 'greek_cat_3',
 'grocery_cat_3',
 'hkcafe_cat_3',
 'hotdog_cat_3',
 'irish_pubs_cat_3',
 'italian_cat_3',
 'juicebars_cat_3',
 'latin_cat_3',
 'lebanese_cat_3',
 'lounges_cat_3',
 'mediterranean_cat_3',
 'mexican_cat_3',
 'mideastern_cat_3',
 'modern_european_cat_3',
 'newamerican_cat_3',
 'noodles_cat_3',
 'piadina_cat_3',
 'pianobars_cat_3',
 'pizza_cat_3',
 'pubs_cat_3',
 'salad_cat_3',
 'sandwiches_cat_3',
 'scandinavian_cat_3',
 'seafood_cat_3',
 'soup_cat_3',
 'southern_cat_3',
 'spanish_cat_3',
 'speakeasies_cat_3',
 'sportsbars_cat_3',
 'steak_cat_3',
 'tacos_cat_3',
 'tapas_cat_3',
 'tapasmallplates_cat_3',
 'tikibars_cat_3',
 'tradamerican_cat_3',
 'vegan_cat_3',
 'vegetarian_cat_3',
 'venezuelan_cat_3',
 'venues_cat_3',
 'waffles_cat_3',
 'whiskeybars_cat_3',
 'wine_bars_cat_3',
 'wraps_cat_3',
 'lat',
 'long',
 'delivery',
 'pickup',
 'reservation',
 'price_1',
 'price_2',
 'price_3',
 'price_4',
 'address1',
 'city',
 'zip_code',
 'display_address',
 'above_avg',
 'argentine_cat_1',
 'cheese_cat_1',
 'chicken_wings_cat_1',
 'foodstands_cat_1',
 'foodtrucks_cat_1',
 'gluten_free_cat_1',
 'pastashops_cat_1',
 'tuscan_cat_1',
 'catering_cat_2',
 'chicken_wings_cat_2',
 'cookingschools_cat_2',
 'foodtours_cat_2',
 'gelato_cat_2',
 'grocery_cat_2',
 'herbsandspices_cat_2',
 'meats_cat_2',
 'shavedice_cat_2',
 'sicilian_cat_2',
 'soup_cat_2',
 'steak_cat_2',
 'argentine_cat_3',
 'catering_cat_3',
 'empanadas_cat_3',
 'fooddeliveryservices_cat_3',
 'hotdogs_cat_3',
 'meats_cat_3',
 'pastashops_cat_3',
 'seafoodmarkets_cat_3',
 'walkingtours_cat_3',
 'african_cat_1',
 'bbq_cat_1',
 'beergardens_cat_1',
 'breweries_cat_1',
 'chickenshop_cat_1',
 'danceclubs_cat_1',
 'dimsum_cat_1',
 'divebars_cat_1',
 'ethiopian_cat_1',
 'fooddeliveryservices_cat_1',
 'halal_cat_1',
 'hookah_bars_cat_1',
 'hotdog_cat_1',
 'hotdogs_cat_1',
 'indpak_cat_1',
 'jazzandblues_cat_1',
 'peruvian_cat_1',
 'ramen_cat_1',
 'russian_cat_1',
 'salvadoran_cat_1',
 'southafrican_cat_1',
 'sports_clubs_cat_1',
 'sushi_cat_1',
 'tex-mex_cat_1',
 'turkish_cat_1',
 'beer_and_wine_cat_2',
 'breweries_cat_2',
 'british_cat_2',
 'cheesesteaks_cat_2',
 'chickenshop_cat_2',
 'divebars_cat_2',
 'foodstands_cat_2',
 'hotdog_cat_2',
 'irish_pubs_cat_2',
 'izakaya_cat_2',
 'karaoke_cat_2',
 'korean_cat_2',
 'lebanese_cat_2',
 'noodles_cat_2',
 'peruvian_cat_2',
 'speakeasies_cat_2',
 'sportsbars_cat_2',
 'tikibars_cat_2',
 'chickenshop_cat_3',
 'halal_cat_3',
 'irish_cat_3',
 'japanese_cat_3',
 'korean_cat_3',
 'musicvenues_cat_3',
 'portuguese_cat_3',
 'pretzels_cat_3',
 'sushi_cat_3',
 'tex-mex_cat_3',
 'asianfusion_cat_1',
 'basque_cat_1',
 'bubbletea_cat_1',
 'buffets_cat_1',
 'cantonese_cat_1',
 'cigarbars_cat_1',
 'egyptian_cat_1',
 'eventplanning_cat_1',
 'fondue_cat_1',
 'hkcafe_cat_1',
 'hotpot_cat_1',
 'indonesian_cat_1',
 'japacurry_cat_1',
 'landmarks_cat_1',
 'lebanese_cat_1',
 'malaysian_cat_1',
 'noodles_cat_1',
 'persian_cat_1',
 'polish_cat_1',
 'portuguese_cat_1',
 'senegalese_cat_1',
 'shanghainese_cat_1',
 'social_clubs_cat_1',
 'szechuan_cat_1',
 'african_cat_2',
 'basque_cat_2',
 'bubbletea_cat_2',
 'buffets_cat_2',
 'cantonese_cat_2',
 'caribbean_cat_2',
 'conveyorsushi_cat_2',
 'cuban_cat_2',
 'falafel_cat_2',
 'guesthouses_cat_2',
 'halal_cat_2',
 'hotpot_cat_2',
 'malaysian_cat_2',
 'opera_cat_2',
 'persian_cat_2',
 'ramen_cat_2',
 'shanghainese_cat_2',
 'szechuan_cat_2',
 'taiwanese_cat_2',
 'trainstations_cat_2',
 'vietnamese_cat_2',
 'brazilian_cat_3',
 'cajun_cat_3',
 'caribbean_cat_3',
 'chinese_cat_3',
 'cuban_cat_3',
 'dimsum_cat_3',
 'eventplanning_cat_3',
 'importedfood_cat_3',
 'izakaya_cat_3',
 'nonprofit_cat_3',
 'peruvian_cat_3',
 'poke_cat_3',
 'puertorican_cat_3',
 'ramen_cat_3',
 'raw_food_cat_3',
 'shavedice_cat_3',
 'singaporean_cat_3',
 'social_clubs_cat_3',
 'taiwanese_cat_3',
 'tea_cat_3',
 'thai_cat_3',
 'videofilmproductions_cat_3',
 'cakeshop_cat_1',
 'candy_cat_1',
 'chimneycakes_cat_1',
 'chocolate_cat_1',
 'cookingclasses_cat_1',
 'cupcakes_cat_1',
 'customcakes_cat_1',
 'empanadas_cat_1',
 'gelato_cat_1',
 'icecream_cat_1',
 'intlgrocery_cat_1',
 'kosher_cat_1',
 'macarons_cat_1',
 'pakistani_cat_1',
 'pretzels_cat_1',
 'tours_cat_1',
 'argentine_cat_2',
 'cakeshop_cat_2',
 'candy_cat_2',
 'chocolate_cat_2',
 'coffeeroasteries_cat_2',
 'colombian_cat_2',
 'creperies_cat_2',
 'cupcakes_cat_2',
 'customcakes_cat_2',
 'dominican_cat_2',
 'empanadas_cat_2',
 'giftshops_cat_2',
 'healthmarkets_cat_2',
 'hkcafe_cat_2',
 'hungarian_cat_2',
 'intlgrocery_cat_2',
 'macarons_cat_2',
 'organic_stores_cat_2',
 'raw_food_cat_2',
 'seafoodmarkets_cat_2',
 'wholesalers_cat_2',
 'bubbletea_cat_3',
 'cakeshop_cat_3',
 'candy_cat_3',
 'chocolate_cat_3',
 'colombian_cat_3',
 'cookingclasses_cat_3',
 'customcakes_cat_3',
 'custommerchandise_cat_3',
 'giftshops_cat_3',
 'icecream_cat_3',
 'indpak_cat_3',
 'intlgrocery_cat_3',
 'kids_activities_cat_3',
 'kosher_cat_3',
 'macarons_cat_3',
 'organic_stores_cat_3',
 'pancakes_cat_3',
 'soulfood_cat_3',
 'neighborhood_by_zip',
 'boro',
 'pop_by_zip',
 'density_by_zip',
 'NTA']

I'm going to seperate all of the 'cat_' columns:

In [12]:
old_cat_cols = [col for col in df.columns if str(col).endswith('cat_1') or str(col).endswith('cat_2') or str(col).endswith('cat_3')]

Now I'm going to reduce this list to only the category features that have 10 or more observations.

In [13]:
cat_df = df[old_cat_cols]
cat_df.loc['sum'] = cat_df.sum()
cat_sums = pd.DataFrame(cat_df.loc['sum'])
cat_sums = cat_sums[cat_sums['sum'] >= 10]
cat_sums = cat_sums.sort_values(by='sum')
cat_sums = cat_sums.T
cat_cols = list(cat_sums.columns)
new_cat_cols = [col for col in df.columns if col in cat_cols]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Now, let's take a look at all the non-category columns.

In [14]:
other_cols = [col for col in df.columns if col not in old_cat_cols]

In [15]:
other_cols

['review_count',
 'distance',
 'lat',
 'long',
 'delivery',
 'pickup',
 'reservation',
 'price_1',
 'price_2',
 'price_3',
 'price_4',
 'address1',
 'city',
 'zip_code',
 'display_address',
 'above_avg',
 'neighborhood_by_zip',
 'boro',
 'pop_by_zip',
 'density_by_zip',
 'NTA']

I want to leave some of the geographical features like 'city' and 'zip_code' because they might come in useful later for visualizations or analysis. But features like 'distance' and 'boro' will be problematic. This is becuase the distance calculated is from arbitrary coordinates generated to represent the neighborhood we searched.

In [20]:
other_cols.remove('distance')
other_cols.remove('boro')

Now we can concatenate the two lists of reduced columns and restric the data frame to that

In [21]:
print('Length of new_cat_cols: ', len(new_cat_cols))
print('Length of other_cols: ', len(other_cols))
feature_cols = new_cat_cols + other_cols
print('Length of feature_cols: ', len(feature_cols))
df = df[feature_cols]
print('Length of df: ', len(df))

Length of new_cat_cols:  124
Length of other_cols:  19
Length of feature_cols:  143
Length of df:  3628

With our new modified data frame we move forward to check for missing values. Because there are many columns, and the nulls in the category data are going to be zeros, we need to check the columns that fall into 'other_cols'.

In [30]:
df_sums = pd.DataFrame(df[other_cols].isna().sum()).sort_values(by=0, ascending=False)
display(df_sums)

                        0
NTA                  1096
density_by_zip        328
pop_by_zip            328
neighborhood_by_zip   328
address1                2
above_avg               0
display_address         0
zip_code                0
city                    0
review_count            0
lat                     0
price_3                 0
price_2                 0
price_1                 0
reservation             0
pickup                  0
delivery                0
long                    0
price_4                 0

It seems like there is a lot NTA data missing, probably due to a zip code problem since that was used to fill in the NTA columns.

In [38]:
df_zips = sorted(list(df[df.NTA.isna()].zip_code.unique()))

In [47]:
print(type(df_zips[0]))

<class 'str'>

In [48]:
sorted(df_zips)

['10166',
 '10175',
 '10270',
 '10301',
 '10302',
 '10304',
 '10310',
 '10314',
 '10452',
 '10454',
 '10455',
 '10458',
 '10459',
 '10461',
 '10462',
 '10463',
 '10464',
 '10466',
 '10468',
 '10471',
 '10473',
 '10474',
 '10475',
 '10801',
 '10803',
 '11101',
 '11102',
 '11103',
 '11104',
 '11105',
 '11106',
 '11109',
 '11201',
 '11204',
 '11205',
 '11206',
 '11207',
 '11208',
 '11209',
 '11211',
 '11213',
 '11214',
 '11215',
 '11216',
 '11217',
 '11218',
 '11219',
 '11220',
 '11221',
 '11222',
 '11225',
 '11226',
 '11228',
 '11229',
 '11230',
 '11231',
 '11232',
 '11233',
 '11234',
 '11237',
 '11238',
 '11249',
 '11354',
 '11355',
 '11356',
 '11357',
 '11358',
 '11360',
 '11361',
 '11365',
 '11366',
 '11368',
 '11370',
 '11371',
 '11372',
 '11373',
 '11374',
 '11375',
 '11377',
 '11378',
 '11379',
 '11385',
 '11414',
 '11415',
 '11418',
 '11419',
 '11420',
 '11421',
 '11434',
 '7002',
 '7010',
 '7011',
 '7012',
 '7013',
 '7020',
 '7022',
 '7024',
 '7026',
 '7029',
 '7030',
 '7031',
 '7032',
 '7047',
 '7055',
 '7057',
 '7070',
 '7071',
 '7072',
 '7073',
 '7074',
 '7075',
 '7086',
 '7087',
 '7093',
 '7094',
 '7102',
 '7105',
 '7109',
 '7110',
 '7114',
 '7206',
 '7302',
 '7304',
 '7305',
 '7306',
 '7307',
 '7310',
 '7503',
 '7601',
 '7603',
 '7605',
 '7606',
 '7607',
 '7608',
 '7631',
 '7632',
 '7644',
 '7650',
 '7657',
 '7660']

Some of these may be Manhattan zips, so we will check them against the list.

In [49]:
print(type(mn_zips[0]))

<class 'str'>

In [40]:
mn_zips = list(nyc_open_df.ZIPCODE.unique())

In [45]:
sorted(mn_zips)

['10000',
 '10001',
 '10002',
 '10003',
 '10004',
 '10005',
 '10006',
 '10007',
 '10009',
 '10010',
 '10011',
 '10012',
 '10013',
 '10014',
 '10016',
 '10017',
 '10018',
 '10019',
 '10020',
 '10021',
 '10022',
 '10023',
 '10024',
 '10025',
 '10026',
 '10027',
 '10028',
 '10029',
 '10030',
 '10031',
 '10032',
 '10033',
 '10034',
 '10035',
 '10036',
 '10037',
 '10038',
 '10039',
 '10040',
 '10041',
 '10044',
 '10048',
 '10055',
 '10065',
 '10069',
 '10075',
 '10080',
 '10103',
 '10105',
 '10106',
 '10107',
 '10111',
 '10112',
 '10115',
 '10118',
 '10119',
 '10121',
 '10123',
 '10128',
 '10153',
 '10154',
 '10155',
 '10158',
 '10165',
 '10167',
 '10168',
 '10169',
 '10170',
 '10171',
 '10172',
 '10173',
 '10174',
 '10176',
 '10177',
 '10178',
 '10179',
 '10271',
 '10279',
 '10280',
 '10281',
 '10282',
 '12345']

In [41]:
common_zips = [z for z in mn_zips if z in df_zips]

In [42]:
common_zips

[]

After I didn't find any common zips, and investigated some of the complete zips, I discovered that some of them are for Queens, Brooklyn, the Bronx, and Staten Island. Since our analysis is limited to Manhattan, we want to exclude those. In addition there are a number of zips that I can't guess where they come from because they are incomplete. As a result, we may have to elimiate the blank NTA columns.

In [55]:
df = df[df.NTA.notna()]
df_sums = pd.DataFrame(df[other_cols].isna().sum()).sort_values(by=0, ascending=False)
display(df_sums)

                      0
density_by_zip       22
pop_by_zip           22
neighborhood_by_zip  22
address1              2
review_count          0
above_avg             0
display_address       0
zip_code              0
city                  0
price_4               0
lat                   0
price_3               0
price_2               0
price_1               0
reservation           0
pickup                0
delivery              0
long                  0
NTA                   0

Now our list of missing data is less problematic. Missing items in 'neighborhood_by_zip' is not a huge problem if we have the NTA. In addition, density by zip, and pop by zip can be filled with the averages.

In [60]:
avg_density_by_zip = df.density_by_zip.mean()
df['density_by_zip'] = df.density_by_zip.fillna(avg_density_by_zip)
avg_pop_by_zip = df.pop_by_zip.mean()
df['pop_by_zip'] = df.pop_by_zip.fillna(avg_pop_by_zip) 
df['neighborhood_by_zip'] = df.neighborhood_by_zip.fillna('missing')
df['address1'] = df.address1.fillna('missing')

In [61]:
df = df[df.NTA.notna()]
df_sums = pd.DataFrame(df[other_cols].isna().sum()).sort_values(by=0, ascending=False)
display(df_sums)

                     0
review_count         0
address1             0
density_by_zip       0
pop_by_zip           0
neighborhood_by_zip  0
above_avg            0
display_address      0
zip_code             0
city                 0
price_4              0
lat                  0
price_3              0
price_2              0
price_1              0
reservation          0
pickup               0
delivery             0
long                 0
NTA                  0

Finally, we can fill in the OHE features with missing values by using zero.

In [63]:
df = df.fillna(0)

Now that these are no more missing values, we can move forward for some exploratory analysis.

In [64]:
df.to_csv('scrubbed_data.csv', index=False)